@mixin layout-row-v_start-h_start {
    width: 100%;
    height: 100%;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: flex-start;
    align-items: flex-start;
}

@mixin layout-column-v_center-h_center {
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
}

@mixin layout-flex-grow {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
}