@import 'layout.scss';

.invoice-form{
    @include layout-row-v_start-h_start;
    gap: 1.5rem;
    padding: 1.5rem 0 0 0;
}

.invoice-form_element{
    @include layout-flex-grow;
}

.invoice-form_element-input{
    width: 100%;
}

::ng-deep{
    .p-calendar{
        width: 100%;

        .p-inputtext{
            width: 100%;
        }
    }

    .p-inputnumber{
        width: 100%;
    }
    
    .p-dropdown{
        width: 100%;
    }
}