<div class="basic-wrapper">
    <ng-container *ngIf="state === COMPONENT_STATE.Loader">
        <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
    </ng-container>
    
    <ng-container *ngIf="state === COMPONENT_STATE.Content"> 
        <ng-content></ng-content>  
    </ng-container>
    
    <ng-container *ngIf="state === COMPONENT_STATE.Empty">
        <p-message severity="info" [text]="emptyMessage"></p-message>   
    </ng-container>
    
    <ng-container *ngIf="state === COMPONENT_STATE.Error">
        <p-message severity="error" [text]="errorMessage"></p-message>
    </ng-container>
</div>